
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<body style="margin-top: 4%;">

 <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Catégorie : Chiens</h2>
          <p>Chiens à Adopter : Parcourez notre Collection</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
                            <span class="new">Nouveau</span>

              <h3 style="color: #07d5c0;">Chien</h3>
              <div class="price"><sup>MAD</sup>120</div>
              <img src="../../../assets/images/chien-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <span class="special">Special</span>
              <h3 style="color: #65c600;">Chien</h3>
             <div class="price"><sup>MAD</sup>200</div>
              <img src="../../../assets/images/chien-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Chien</h3>
             <div class="price"><sup>MAD</sup>400</div>
              <img src="../../../assets/images/chien-category.jpg" class="img-fluid" alt="" >
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <h3 style="color: #ff0071;">Chien</h3>
              <div class="price"><sup>MAD</sup>320</div>
              <img src="../../../assets/images/chien-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
     <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Catégorie : Chats</h2>
          <p>Trouvez Votre Compagnon Ronronnant : Chats Disponibles</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Chat</h3>
              <div class="price"><sup>MAD</sup>120</div>
              <img src="../../../assets/images/chat4-new.jpg" class="img-fluid" alt="" style="width: 80%;">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <span class="promotion">Promotion</span>
              <h3 style="color: #65c600;">Chat</h3>
             <div class="price"><sup>MAD</sup>200</div>
              <img src="../../../assets/images/chat4-new.jpg" class="img-fluid" alt="" style="width: 80%;">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
                            <span class="new">Nouveau</span>

              <h3 style="color: #ff901c;" >Chat</h3>
             <div class="price"><sup>MAD</sup>400</div>
              <img src="../../../assets/images/chat4-new.jpg" class="img-fluid" alt="" style="width: 80%;">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                                          <span class="special">Special</span>

              <h3 style="color: #ff0071;">Chat</h3>
              <div class="price"><sup>MAD</sup>320</div>
              <img src="../../../assets/images/chat4-new.jpg" class="img-fluid" alt="" style="width: 80%;">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
     <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Catégorie : Accessoire</h2>
          <p>Produits pour Animaux de Compagnie : Parcourez notre Collection</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #07d5c0;">Accessoire</h3>
              <div class="price"><sup>MAD</sup>120</div>
              <img src="../../../assets/images/accessoire-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <span class="promotion">Promotion</span>
              <h3 style="color: #65c600;">Accessoire</h3>
             <div class="price"><sup>MAD</sup>200</div>
              <img src="../../../assets/images/accessoire-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <h3 style="color: #ff901c;">Accessoire</h3>
             <div class="price"><sup>MAD</sup>400</div>
              <img src="../../../assets/images/accessoire-category.jpg" class="img-fluid" alt="" >
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
                            <span class="new">Nouveau</span>

              <h3 style="color: #ff0071;">Accessoire</h3>
              <div class="price"><sup>MAD</sup>320</div>
              <img src="../../../assets/images/accessoire-category.jpg" class="img-fluid" alt="">
              <p>Rencontrez nos stars du moment, les animaux les plus recherchés sur notre site !</p>
              <a  class="btn-buy">Acheter  <i class="fa-solid fa-cart-shopping" style="color: #6381e6dd;"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
 </body>
