<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow">
          <div class="card-body">
            <div class="section-header">
              <h1 class="mb-4">
                <i class="fa fa-shopping-basket"></i> Zone correspondant au client
              </h1>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Produit</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Sous-Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="../../../assets/images/chat1-new.jpg" style="max-width: 112px;" class="img-fluid rounded-circle" alt="Product Photo">
                    </td>
                    <td>Roky</td>
                    <td>$109.00</td>
                    <td>2</td>
                    <td>$222.00</td>
                    <td>
                      <button class="btn btn-danger rounded-circle">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="../../../assets/images/chien3-new.jpg" style="max-width: 112px;" class="img-fluid rounded-circle" alt="Product Photo">
                    </td>
                    <td>Linda</td>
                    <td>$1222.00</td>
                    <td>1</td>
                    <td>$1222.00</td>
                    <td>
                      <button class="btn btn-danger rounded-circle">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <h6>Total : <span class="myspan">200$</span></h6>
                <h6 style="margin-top: 2%;">Montant à payer : <span class="myspan">300$</span></h6>
                <button style="margin-top: 1%;" class="btn valider">Valider</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
